@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://medium.com/@alaintai.pro_86554/tips-to-create-a-modern-animated-gradient-background-website-with-react-next-js-13-very-easy-984bb375e7dd */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #124e66;
  --secondaryColor: #748d92;
  --secondaryColorLight: #90a7b1;
  --white: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  background: linear-gradient(to bottom, #124e66 6rem, #212a31 14rem 100%);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
